#components-userstable .MuiTableContainer-root {
  height: calc(100vh - 64px - 16px - 16px);
}

#components-userstable .MuiTableCell-root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  justify-items: baseline;
}