#components-userstable {
  height: calc(100vh - 64px - 16px - 16px - 16px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

#components-userstable .MuiTableCell-root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  justify-items: baseline;
}