#components-authenticatedwrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-content: baseline;
  gap: 16px;
}

#components-authenticatedwrapper-header {
  height: calc(64px + 16px);
  grid-column: span 2;
  padding: 16px 16px 0px 16px;
}

#components-authenticatedwrapper-page-wrapper {
  background-color: #F5F5F5;
  height: calc(100vh - 64px - 32px - 16px);
  width: calc(100vw - 200px - 32px);
  border-radius: 8px;
  overflow: auto;
}

#components-authenticatedwrapper .MuiList-root {
  padding-top: 0;
  padding-left: 16px;
}

#components-authenticatedwrapper .MuiList-root li {
  border-radius: 8px;
  margin-bottom: 8px;
}