#components-header {
  height: 64px;
  background-color: #1976d2;
  display: grid;
  grid-template-columns: 36px 1fr auto;
  align-items: center;
  color: white;
  border-radius: 8px;
  gap: 8px;
  align-items: center;
  padding: 0 12px;
}

#components-header-logo-wrapper {
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
}

#components-header-logo-wrapper img {
  border-radius: 36px;
}